@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(241, 245, 241);
}

.editImg {
    margin-left: 95px;
    margin-top: -20px;
}

.backIconContainer {
    position: absolute;
    top: 80px; /* Adjust this value based on your header bar's height */
    right: 20px; /* Adjust the distance from the right edge */
}

.backIconStyle {
    font-size: 30px;
    cursor: pointer; /* Optional: to indicate the icon is clickable */
}