@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(241, 245, 241);
}

.editImg {
    margin-left: 95px;
    margin-top: -20px;
}

.backIconStyle {
    margin-left: 170%;
    font-size: 30px;
}